<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <h1>Lists</h1>
        <%= link_to new_list_path do %>
          <span class="glyphicon glyphicon-plus"></span> <strong>Add New List</strong>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if @lists.present? %>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <table class="table table-responsive">
            <thead>
              <tr>
                <th>List Name</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @lists.each do |list| %>
                <tr>
                  <td><%= list.name %></td>
                  <td><%= link_to 'Go to Tasks', list %></td>
                  <td>
                    <%= link_to edit_list_path(list), class: 'action', data: { toggle: 'tooltip' }, title: 'Edit' do %>
                      <span class="glyphicon glyphicon-edit"></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to list, method: :delete, class: 'action remove-action', data: { confirm: 'Are you sure?', toggle: 'tooltip' }, title: 'Edit' do %>
                      <span class="glyphicon glyphicon-trash"></span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>
