<div class="row page-header">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2><%= @list.name %></h2>
        <h3><%= @filter.capitalize %> Tasks</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <ul id="task-filters">
          <%= link_to list_path(@list, filter: 'incomplete') do %>
            <li class="task-filter <%= 'active' if @filter == 'incomplete' %>">Incomplete Tasks</li>
          <% end %>
          <%= link_to list_path(@list, filter: 'complete') do %>
            <li class="task-filter <%= 'active' if @filter == 'complete' %>">Complete Tasks</li>
          <% end %>
          <%= link_to list_path(@list, filter: 'all') do %>
            <li class="task-filter <%= 'active' if @filter == 'all' %>">All Tasks</li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="row">
      <div class="col-sm-12">
        <div class="add-btn-wrapper">
          <%= button_tag data: { toggle: 'modal', target: '#task-form-modal' }, class: 'add-task-btn btn btn-secondary' do %>
            <span class="glyphicon glyphicon-plus"></span> <strong>Add Task</strong>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <ul id="task-container" data-filter=<%= @filter %>>
          <%= render @tasks %>
        </ul>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'tasks/remote_form', locals: { task: @list.tasks.new } %>
