<div id="task-form-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add New Task</h4>
      </div>
      <div class="modal-body">
        <%= form_for task, url: user_tasks_path(task.assignee), remote: true do |form| %>
          <div class="form-group">
            <%= form.label :title %>
            <%= form.text_field :title, placeholder: 'Enter title here...', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= form.label :description %>
            <%= form.text_area :description, placeholder: 'Enter description here...', maxlength: 500, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= form.label :list_id %>
            <%= form.collection_select :list_id, List.order(:name), :id, :name, { prompt: true },{ class: 'form-control', required: true } %>
          </div>
          <div class="form-group">
            <%= form.label :due_date %>
            <div class='input-group date' id='date-field-container'>
              <%= form.text_field :due_date, class: 'form-control' %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>

          <%= button_tag 'Create Task', class: 'btn btn-primary', id: 'task-submit-btn' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
