<%= form_for [@list, @task].compact do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: 'Enter title here...', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, placeholder: 'Enter description here...', maxlength: 500, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :due_date %>
    <div class='input-group date' id='date-field-container'>
      <%= f.text_field :due_date, class: 'form-control' %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :assignee_id %>
    <%= f.collection_select :assignee_id, User.order(:email), :id, :email, { include_blank: true },{ class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.label :list_id %>
    <%= f.collection_select :list_id, List.order(:name), :id, :name, { include_blank: true },{ class: 'form-control', required: true } %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
