<% if task.persisted? %>
  <li id="task-<%= task.id %>" class="task-item <%= class_for_task_item task %>">
    <div class="pull-right task-actions">
      <%= link_to task_path(task), class: 'action', data: { toggle: 'tooltip' }, title: 'Open' do %>
        <span class="glyphicon glyphicon glyphicon-new-window"></span>
      <% end %>

      <%= link_to edit_task_path(task), class: 'action', data: { toggle: 'tooltip' }, title: 'Edit' do %>
        <span class="glyphicon glyphicon-edit"></span>
      <% end %>

      <%= link_to task, class: 'remote-task-remove-link action remove-action', data: { toggle: 'tooltip' }, title: 'Delete', remote: true, method: :delete do %>
        <span class="glyphicon glyphicon-trash"></span>
      <% end %>
    </div>
    <div class="task-header">
      <div class="checkbox pull-right">
        <%= check_box_tag 'complete', true, task.complete?, data: { id: task.id }, class: 'finish-btn' %>
      </div>
      <h3><%= task.title %></h3>
    </div>
    <hr />
    <p class="task-desc"><%= task.description %></p>
    <hr />
    <p class="task-assignee text-center"><strong>Assigned to:</strong> <%= task.assignee.try :email %></p>
    <hr />
    <div class="row task-footer">
      <div class="col-sm-6 text-center">
        List: <%= task.list.try(:name) %>
      </div>
      <div class="col-sm-6 text-center">
        Due: <%= task.due_date %>
      </div>
    </div>
  </li>
<% end %>
