<% if @task.errors.any? %>
  <% @task.errors.full_messages.each do |error| %>
    alert("<%= raw j error %>");
  <% end %>
<% else %>
  var container = $('#task-container');
  $('#task-form-modal').modal('hide');
  $('#new_task')[0].reset();
  if(container.data('filter') == 'complete') {
    window.location.href = '/lists/' + '<%= @task.list.id %>' + '?filter=all';
  } else {
    container.prepend("<%= j render @task %>");
  }
<% end %>
