$("#task-<%= @task.id %>").remove();
$('.container-fluid > header').after("<%= j render partial: 'shared/flash_messages', locals: { flash: {notice: 'Task has been deleted.'} } %>");
window.setTimeout(window.fade_alert, 3000)
