<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <h1>Editing Task</h1>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <%= render 'form' %>
        <%= link_to 'Back', task_path(@task) %>
      </div>
    </div>
  </div>
</div>
