<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <h1><%= @list.try(:name) %></h1>
        <small>Tasks</small>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Due date</th>
              <th>Assignee</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @tasks.each do |task| %>
              <tr>
                <td><%= task.title %></td>
                <td><%= task.description %></td>
                <td><%= task.due_date %></td>
                <td><%= task.assignee.try(:email) %></td>
                <td><%= link_to 'Show', task %></td>
                <td><%= link_to 'Edit', edit_task_path(task) %></td>
                <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to 'New Task', new_list_task_path(@list) %>
      </div>
    </div>
  </div>
</div>
