<div class="row page-header">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2><%= @task.title %></h2>
      </div>
    </div>

    <p>
      <strong>Description:</strong>
      <%= @task.description %>
    </p>

    <p>
      <strong>Due date:</strong>
      <%= @task.due_date %>
    </p>

    <p>
      <strong>Assignee:</strong>
      <%= @task.assignee.try(:email) %>
    </p>

    <%= link_to 'Edit', edit_task_path(@task) %> |
    <%= link_to 'Back', list_path(@task.list) %>

  </div>
</div>
