<div class="row page-header">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>My Tasks</h1>
        <h2><%= @user.email %></h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <ul id="task-filters">
          <%= link_to user_tasks_path(@user, filter: 'incomplete') do %>
            <li class="task-filter <%= 'active' if @filter == 'incomplete' %>">Incomplete Tasks</li>
          <% end %>
          <%= link_to user_tasks_path(@user, filter: 'complete') do %>
            <li class="task-filter <%= 'active' if @filter == 'complete' %>">Complete Tasks</li>
          <% end %>
          <%= link_to user_tasks_path(@user, filter: 'all') do %>
            <li class="task-filter <%= 'active' if @filter == 'all' %>">All Tasks</li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <% if List.count > 0 %>
      <div class="row">
        <div class="col-sm-12">
          <div class="add-btn-wrapper">
            <%= button_tag data: { toggle: 'modal', target: '#task-form-modal' }, class: 'add-task-btn btn btn-secondary' do %>
              <span class="glyphicon glyphicon-plus"></span> <strong>Add Task</strong>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <ul id="task-container" data-filter=<%= @filter %>>
            <%= render @tasks %>
          </ul>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-sm-12 text-center">
          <h4>Please <%= link_to 'create new list', new_list_path %> to add tasks!</h4>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render partial: 'tasks/assignment_form', locals: { task: @user.assigned_tasks.new } %>
