<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= bootstrap_devise_error_messages! %>
    <div class="panel panel-default devise-bs">
      <div class="panel-heading">
        <h4><%= t('.forgot_your_password', default: 'Forgot your password?') %></h4>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: "form" }) do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          </div>

          <%= f.submit t('.send_me_reset_password_instructions', default: 'Send me reset password instructions'), class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
    <%= render 'devise/shared/links' %>
  </div>
</div>
