body {
  background-color: rgba(238, 238, 238, 0.85);
  font-size: 14px;

  .page-header {
    background: #fff;
    margin: 2em 0em;
    padding: 2em;
  }
}

th {
  text-align: center;
}

.add-btn-wrapper {
  padding: 1rem;

  .add-task-btn {
    width: 100%;

    &:focus {
      outline: none;
      outline-offset: none;
    }
  }
}

ul#task-filters {
  list-style: none;
  padding: 0px;
  text-align: center;

  a {
    text-decoration: none;
    color: #fff;

    &:hover, &:focus {
      text-decoration: none;
      color: #fff;
    }

    li.task-filter {
      display: inline-block;
      background-color: #222;
      padding: 1rem;
      margin: 1rem;

      &.active {
        background: #ff5722;
      }
    }
  }
}

ul#task-container {
  list-style: none;
  padding: 0px;

  .task-item {
    background-color: #fff;
    display: block;
    border: 1px solid #ddd;
    margin: 1rem;
    padding: 1rem;

    .task-actions {
      > a {
        margin-left: 0.5em;
      }
    }
  }

  .task-item.complete-item {
    border: 1px solid #8BC34A;
  }
}

a.action {
  color: #4caf50;

  &.remove-action {
    color: #c7180b;
  }

  &:hover, &:focus {
    text-decoration: none;
  }
}
