<!DOCTYPE html>
<html>
<head>
  <title><%= @title || 'App' %> - TodoList</title>
  <meta charset="UTF-8">
  <meta name="google" content="notranslate">
  <meta http-equiv="Content-Language" content="en">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Todo List">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container-fluid">
    <header>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <%= link_to 'Todo List', root_path, class: 'navbar-brand'%>
          <ul class="nav navbar-nav">
            <li class="nav-item <%= 'active' if params[:controller] == 'lists' %>">
              <%= link_to 'Lists', lists_path, class: 'nav-link' %>
            </li>
            <% if current_user.present? %>
              <li class="nav-item <%= 'active' if params[:controller] == 'tasks' %>">
                <%= link_to 'My Tasks', user_tasks_path(current_user), class: 'nav-link' %>
              </li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user.present? %>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <span class="glyphicon glyphicon-log-out"></span> Logout
                <% end %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to new_user_registration_path do %>
                  <span class="glyphicon glyphicon-user"></span> Sign Up
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to new_user_session_path do %>
                  <span class="glyphicon glyphicon-log-in"></span> Login
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <%= render partial: 'shared/flash_messages' %>

    <%= yield %>
  </div>

</body>
</html>
